@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(26, 26, 26);
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main {
    margin-top: 100px;
}

.container {
    max-width: 1390px;
    margin: 0 auto;
}

.cats-content {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    gap: 20px;
    justify-content: center;
}

@media (max-width: 1390px) {
    .cats-content {
        grid-template-columns: repeat(4, 250px);
    }
}

@media (max-width: 1120px) {
    .cats-content {
        grid-template-columns: repeat(3, 250px);
    }
}

@media (max-width: 830px) {
    .cats-content  {
        grid-template-columns: repeat(2, 250px);
    }
}

@media (max-width: 580px) {
    .cats-content  {
        grid-template-columns: repeat(1, 250px);
    }
}